body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  
}



.container {
  width: 100%;
  /* background-color: aqua; */
  margin: 0 auto;
  /* padding: 1rem; */
  line-height: 1rem;
  overflow: hidden;
}

/* -------------------------header-container-styling----------------------------------------- */
.header-container {
  width: 100%;
  display: flex;
  margin-top: 1rem;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header-container h2 {
    font-size: 2rem;
    font-weight: 700;
  margin: 0;
  color: rgb(26, 25, 25);
  line-height: 1.5rem;
}

.header-container .header-desc p {
  color: rgb(99, 98, 98);
  line-height: 1.1rem;
  font-size: 0.87rem;
}
/* -------------------------Grid-container-styling----------------------------------------- */
.grid-container {
  width: 70%;
  height: 100%;
  margin: auto;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  overflow: hidden;
}
/* -------------------------Card-container-styling----------------------------------------- */

.card-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1rem;
  margin: auto;

  border: 1px solid rgb(214, 207, 207);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
}
.card-image-container {
  position: relative;
  overflow: hidden;
  height: 10rem;
}
.card_image {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  
}

a {
  text-decoration: none;
}

.card-desc-container {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
}

.card-desc-container h2 {
  color: rgb(37, 36, 36);
  font-size: 1rem;
  margin: 0 0;
}
.card-desc-container p {
  color: rgb(71, 69, 69);
  font-size: 0.8rem;
  margin: 0.5rem 0;
}

/* -------------------------Card-footer-container-styling----------------------------------------- */
.card-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0.5rem 1rem;
}
.footer_desc_container {
  display: flex;
  gap: 0.1rem;
}
.Auther-avatar-container img {
  height: 1.5rem;
  border: 1px solid rgb(71, 69, 69);
  border-radius: 50%;
  background-color: rgb(201, 197, 197);
}
.Auther-info-container {

width: 5rem;
  margin: 0 0.5rem;
  display: flex;
  flex-direction: column;
}
.Auther-info-container span {
  color: rgb(71, 69, 69);
  font-size: 0.8rem;
  font-weight: 600;
}

#Auther_name{
    color: rgb(47, 47, 209);
}

.tag_container {
  height: fit-content;
  border: 1px solid rgb(71, 69, 69);
  border-radius: 10%;
}
.tag_container span {
  font-size: 0.8rem;
  color: rgb(71, 69, 69);
  padding: 0.3rem;
}
/* ----------------------------------media queries---------------------------------------- */
@media only screen and (max-width:700px){
     .grid-container {
            width: 60vw;
            height: 100%;
            margin: 0.5rem auto;
          
            display: grid;
            grid-template-columns: 1fr;
            gap: 1rem;
          }
    }
    @media screen and (min-width:701px) and (max-width:1030px){
        .grid-container {
               width: 90%;
               height: 100%;
               margin: 0.5rem auto;
             
               display: grid;
               grid-template-columns: 1fr 1fr;
               gap: 1rem;
             }
       }
    /* ----------------------------Animations------------------------------------------------- */

    .card-container:hover .card_image{
        transform: scale(1.1);
        transition-duration: 400ms;
    }
    .card-desc-container h2:hover {
        color: rgb(39, 39, 212);
        transition-duration: 1s;
    }